<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Login - Dmeal</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <style>

  </style>
    <body>
<table>
    <tr>
        <th>username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
    </tr>
    <tr>
        <td>{{request.user.username}}</td>
        <td>{{request.user.email}}</td>
        <td>{{user.profile.phone}}</td>
        <td>{{user.profile.address}}</td>
       
        </tr>

    </table>


</body>
</html>